<div class="activityMenu">
  <button class="reverseButton" (click)="addCustomActivity()">Add activity</button>
  <!-- <button class="reverseButton" (click)="customCheckIn()">Custom check in</button> -->
</div>

<div class="placeSearch" *ngIf="showCheckin">
  <ww-custom-checkin></ww-custom-checkin>
</div>

<div *ngIf="addActivity" class="custom-modal">
  <ww-activity-input (hideForm)="hideForm($event)" [itinDateRange]="itinDateRange"></ww-activity-input>
</div>

<ww-activity-list></ww-activity-list>


<!-- tried to use nearby places search but response is slow -->
<!-- <div #customCheckInSearch></div>

<div *ngFor="let place of nearbyPlacesArray; let i = index">
  <h5>{{ place.name }}</h5>
</div> -->
