<header class="row spacing">
  <nav>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active"><a [routerLink]="['accommodation-transport']">Accommodation / Transport</a></li>
      <li routerLinkActive="active"><a [routerLink]="['activities']">Activities</a></li>
      <li routerLinkActive="active"><a [routerLink]="['resources']">Resources</a></li>
      <li routerLinkActive="active"><a [routerLink]="['map']">Map view</a></li>

      <!-- <li><a>Others</a></li> -->
    </ul>
  </nav>
</header>

<div class="row">
  <router-outlet></router-outlet>
</div>
