<div class="signin-card">
  <div class="login">
    <h5>Sign in via your social account</h5>

    <!-- facebook login -->
    <button (click)="loginFacebook()" class="facebook-btn">
      <i class="fa fa-facebook fa-lg fa-fw"></i>Sign in with Facebook
    </button>

    <!-- google login -->
    <div id="google-login"></div>

    <h5>--- or ---</h5>
    <button type="button" (click)="showSigninForm()" class="local-login">Sign in to your wondererwanderer account</button>

  </div>

  <hr>
  <ww-signin *ngIf="signinForm" (hideSigninForm)="signinForm = false"></ww-signin>

  <ww-signup *ngIf="!signinForm"></ww-signup>
</div>

<!-- <a href="http://localhost:9000/auth/login/facebook"><img src="../../assets/facebook_login.png" alt="facebook log in"></a> -->
<!-- <img src="../../assets/facebook_login.png" alt="facebook log in" (click)="loginFacebook()"> -->

<!-- google login -->
<!-- <button id="google-login" (click)="loginGoogle()" class="google-btn">
  <i class="fa fa-google fa-fw"></i>Sign in with Google
</button> -->
