<form [formGroup]="addAccommodationForm" (ngSubmit)="onSubmitNewAccommodation()">

    <div class="formCard">

      <div class="subHeading">
        <h5 class="inline-block">Add new accommodation arrangement</h5>
        <a class="delete" (click)="cancelForm()">x</a>
      </div>

      <div class="placeSearch">
        <div class="form-group">
          <label>Search for your accommodation (Google magic will do the rest)</label>
        </div>
        <ww-google-place-search (placeDetail)="getAccommodationDetails($event)"></ww-google-place-search>
      </div>

      <div class="checkInOut">
        <h6>Check in and check out dates are required.</h6>

        <div class="form-group inline-block">
          <label for="checkInDate">Check in date</label>
          <select name="checkInDate" class="form-control" formControlName="checkInDate">
            <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
              <div *ngIf="itinDate === 'any day'">
                <h5>{{ itinDate }}</h5>
              </div>
              <div *ngIf="itinDate !== 'any day'">
                <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
              </div>
            </option>
          </select>
        </div>

        <div class="form-group inline-block">
          <label for="checkOutDate">Check out date</label>
          <select name="checkOutDate" class="form-control" formControlName="checkOutDate">
            <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
              <div *ngIf="itinDate === 'any day'">
                <h5>{{ itinDate }}</h5>
              </div>
              <div *ngIf="itinDate !== 'any day'">
                <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
              </div>
            </option>
          </select>
        </div>

      </div>

      <div class="accommodationFormDetails">

        <div class="form-group">
          <label for="name">Name of accommodation</label>
          <input type="text" id="name" formControlName="name" class="form-control" value="{{ googleAccommodationDetail?.name }}">
        </div>

        <div class="form-group">
          <label for="formatted_address">Address</label>
          <input type="text" id="formatted_address" formControlName="formatted_address" class="form-control" value="{{ googleAccommodationDetail?.formatted_address }}">
        </div>

        <div class="form-group">
          <label for="website">Website</label>
          <input type="text" id="website" formControlName="website" class="form-control" value="{{ googleAccommodationDetail?.website }}">
        </div>

        <div class="form-group">
          <label for="international_phone_number">Contact Number</label>
          <input type="text" id="international_phone_number" formControlName="international_phone_number" class="form-control" value="{{ googleAccommodationDetail?.international_phone_number }}">
        </div>

        <div class="form-group inline-block">
          <label for="note">Note</label>
          <textarea name="name" rows="4" cols="80" formControlName="note" class="form-control"></textarea>
        </div>

      </div>

      <div class="saveOption">
        <button type="submit" class="primaryButton" [disabled]="!addAccommodationForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save new accommodation</button>
      </div>

    </div><!-- end of formCard -->

</form>
