<div *ngIf="!accommodationSection" class="heading">
  <h4>Accommodation Arrangements</h4>
  <a (click)="toggleAccommodation()">show</a>
  <a (click)="addAccommodation()" class="new">new</a>
</div>

<div *ngIf="accommodationSection">
  <div class="heading">
    <h4>Accommodation Arrangements</h4>
    <a (click)="toggleAccommodation()">hide</a>
    <a (click)="addAccommodation()" class="new">new</a>
  </div>

  <!-- add new accommodation form -->
  <div *ngIf="addNewAccommodation" class="addNew">
    <form [formGroup]="addAccommodationForm" (ngSubmit)="onAddNewAccommodations()">

      <div formArrayName="accommodations">
        <div *ngFor="let accommodation of accommodations.controls; let i = index" [formGroupName]="i">

          <div class="formCard">

            <div class="subHeading">
              <h5 class="inline-block">Additional accommodation arrangement #{{ i + 1}}</h5>
              <a class="delete" (click)="deleteNewAccommodation(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </div>

            <div class="form-group">
              <label for="name">Name of accommodation</label>
              <input type="text" id="name" formControlName="name" class="form-control">
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" id="address" formControlName="address" class="form-control">
            </div>

            <div class="form-group inline-block">
              <label for="checkInDate">Check in date</label>
              <input type="date" id="checkInDate" formControlName="checkInDate" class="form-control">
            </div>

            <div class="form-group inline-block">
              <label for="checkOutDate">Check out date</label>
              <input type="date" id="checkOutDate" formControlName="checkOutDate" class="form-control">
            </div>

            <div class="form-group inline-block">
              <label for="note">Note</label>
              <textarea name="name" rows="4" cols="80" formControlName="note" class="form-control"></textarea>
            </div>

          </div><!-- end of formCard -->

        </div><!-- end of for loop -->

        <button type="button" class="addOption" (click)="addAccommodationControl()">Add another accommodation</button>

      </div><!-- end of for array -->

      <button type="submit" class="primaryButton" [disabled]="!addAccommodationForm.valid">Save New Accommodations</button>

      <div style="clear: both;"></div>

    </form>
  </div><!-- end of add new accommodation -->

  <!-- iterate through existing list of accommodations -->
  <div *ngFor="let accommodation of itinerary?.accommodations; let i = index" class="detailsCard">

    <div [class.editing]="accommodation.editing">
      <!-- accommodation details view -->
      <div class="view">

        <div class="inline-block">
          <div class="inline-block space departureDetails">
            <h6>{{ accommodation.name | uppercase }}</h6>
            <h6>Check in date: {{ accommodation.checkInDate | date:'dd MMM yy' }}</h6>
          </div>

          <div class="inline-block space arrivalDetails">
            <h6>Address: {{ accommodation.address | uppercase }}</h6>
            <h6>Check out date: {{ accommodation.checkOutDate | date:'dd MMM yy' }}</h6>
          </div>

          <div class="block note">
            <h6>Note:</h6>
            <h6>{{ accommodation.note }}</h6>
          </div>
        </div>

        <div class="inline-block update">
          <a (click)="editAccommodation(accommodation)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a (click)="deleteAccommodation(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </div>

      </div><!-- end of accommodation details view -->

      <!-- accommodation editing view -->
      <form *ngIf="accommodation.editing" [formGroup]="editAccommodationForm" (ngSubmit)="onEditAccommodation(i)">
        <div class="form-group">
          <label for="name">Name of accommodation</label>
          <input type="text" id="name" formControlName="name" class="form-control" [value]="accommodation.name">
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" formControlName="address" class="form-control" [value]="accommodation.address">
        </div>

        <div class="form-group inline-block">
          <label for="checkInDate">Check in date</label>
          <input type="date" id="checkInDate" formControlName="checkInDate" class="form-control" [value]="accommodation.checkInDate">
        </div>

        <div class="form-group inline-block">
          <label for="checkOutDate">Check out date</label>
          <input type="date" id="checkOutDate" formControlName="checkOutDate" class="form-control" [value]="accommodation.checkOutDate">
        </div>

        <div class="form-group inline-block">
          <label for="note">Note</label>
          <textarea name="name" rows="4" cols="80" formControlName="note" class="form-control" [value]="accommodation.note"></textarea>
        </div>

        <button type="submit" class="primaryButton" [disabled]="!editAccommodationForm.valid">Save Accommodation</button>

        <div style="clear: both;"></div>

      </form><!-- end of accommodation editing view -->

    </div><!-- end of each accommodation -->
  </div><!-- end of accommodation loop -->
</div><!-- end of accommodation section -->



<!-- START OF TRANSPORT SECTION -->
<div *ngIf="!transportSection" class="heading">
  <h4>Transport Arrangements</h4>
  <a (click)="toggleTransport()">show</a>
  <a (click)="addTransport()" class="new">new</a>
</div>

<div *ngIf="transportSection">
  <div class="heading">
    <h4>Transport Arrangements</h4>
    <a (click)="toggleTransport()">hide</a>
    <a (click)="addTransport()" class="new">new</a>
  </div>

  <!-- add new transport form -->
  <div *ngIf="addNewTransport" class="addNew">
    <form [formGroup]="addTransportForm" (ngSubmit)="onAddNewTransports()">

      <div formArrayName="transports">

        <div *ngFor="let transport of transports.controls; let i = index" [formGroupName]="i">

          <div class="formCard">

            <div class="subHeading">
              <h5 class="inline-block">Additional transport arrangement #{{ i + 1}}</h5>
              <a class="inline-block" (click)="deleteNewTransport(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </div>

            <div class="transportMode">
              <h5>Please select the mode of transport:</h5>
              <div *ngFor="let transport of transportType" class="inline-block transportOptions">
                <label>
                  <input type="radio" formControlName="transportType" [value]="transport" (click)="onSelect(transport, i)" #transportTypeOption>
                  {{ transport }}
                </label>
              </div>
            </div>

            <div [ngSwitch]="transportOption[i]" class="transportHeader">
              <div *ngSwitchCase="'flight'"><i class="fa fa-plane fa-lg" aria-hidden="true">Flight details</i></div>
              <div *ngSwitchCase="'train'"><i class="fa fa-train fa-lg" aria-hidden="true">Train details</i></div>
              <div *ngSwitchCase="'bus'"><i class="fa fa-bus fa-lg" aria-hidden="true">Bus details</i></div>
              <div *ngSwitchCase="'cruise'"><i class="fa fa-ship fa-lg" aria-hidden="true">Cruise details</i></div>
              <div *ngSwitchCase="'vehicle rental'"><i class="fa fa-car fa-lg" aria-hidden="true">Vehicle rental details</i></div>
              <div *ngSwitchCase="'others'"><i class="fa fa-rocket fa-lg" aria-hidden="true">Other transport details</i></div>
            </div>

            <div class="departure">
              <h5>Departure details</h5>

              <div class="transportDetails">
                <div class="form-group">
                  <label for="cityFrom">Depart from (city)</label>
                  <input type="text" id="cityFrom" formControlName="cityFrom" class="form-control">
                </div>

                <!-- departure template for flight -->
                <div *ngIf="transportOption[i] === 'flight'">

                  <div class="form-group">
                    <label for="stationFrom">Departure airport</label>
                    <input type="text" id="stationFrom" formControlName="stationFrom" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="referenceNumber">Flight number</label>
                    <input type="text" id="referenceNumber" formControlName="referenceNumber" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="depTerminal">Terminal</label>
                    <input type="text" id="depTerminal" formControlName="depTerminal" class="form-control">
                  </div>

                </div>

                <!-- departure template for train -->
                <div *ngIf="transportOption[i] === 'train'">

                  <div class="form-group">
                    <label for="stationFrom">Departure station</label>
                    <input type="text" id="stationFrom" formControlName="stationFrom" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="depTerminal">Train platform</label>
                    <input type="text" id="depTerminal" formControlName="depTerminal" class="form-control">
                  </div>

                </div>

                <!-- departure template for bus -->
                <div *ngIf="transportOption[i] === 'bus'">

                  <div class="form-group">
                    <label for="stationFrom">Departure station</label>
                    <input type="text" id="stationFrom" formControlName="stationFrom" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="referenceNumber">Bus Number</label>
                    <input type="text" id="referenceNumber" formControlName="referenceNumber" class="form-control">
                  </div>

                </div>

                <!-- departure template for cruise -->
                <div *ngIf="transportOption[i] === 'cruise'">

                  <div class="form-group">
                    <label for="stationFrom">Departure terminal</label>
                    <input type="text" id="stationFrom" formControlName="stationFrom" class="form-control">
                  </div>

                </div>

                <!-- departure date & time for all transport type -->
                <div class="form-group">
                  <label for="depDate">Departure date</label>
                  <input type="date" id="depDate" formControlName="depDate" class="form-control">
                </div>

                <div class="form-group">
                  <label for="depTime">Departure time</label>
                  <input type="time" id="depTime" formControlName="depTime" class="form-control">
                </div>

              </div><!-- end of departure details -->
            </div><!-- end of departure -->

            <div class="arrival">
              <h5>Arrival details</h5>

              <div class="transportDetails">
                <div class="form-group">
                  <label for="cityTo">Going to (city)</label>
                  <input type="text" id="cityTo" formControlName="cityTo" class="form-control">
                </div>

                <!-- arrival template for flight -->
                <div *ngIf="transportOption[i] === 'flight'">

                  <div class="form-group">
                    <label for="stationTo">Arrival airport</label>
                    <input type="text" id="stationTo" formControlName="stationTo" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="arrTerminal">Terminal</label>
                    <input type="text" id="arrTerminal" formControlName="arrTerminal" class="form-control">
                  </div>

                </div>

                <!-- arrival template for train -->
                <div *ngIf="transportOption[i] === 'train'">

                  <div class="form-group">
                    <label for="stationTo">Arrival station</label>
                    <input type="text" id="stationTo" formControlName="stationTo" class="form-control">
                  </div>

                </div>

                <!-- arrival template for bus -->
                <div *ngIf="transportOption[i] === 'bus'">

                  <div class="form-group">
                    <label for="stationTo">Arrival station</label>
                    <input type="text" id="stationTo" formControlName="stationTo" class="form-control">
                  </div>

                </div>

                <!-- arrival template for cruise -->
                <div *ngIf="transportOption[i] === 'cruise'">

                  <div class="form-group">
                    <label for="stationTo">Arrival terminal</label>
                    <input type="text" id="stationTo" formControlName="stationTo" class="form-control">
                  </div>

                </div>

                <!-- arrival date & time for all transport type -->
                <div class="form-group">
                  <label for="arrDate">Arrival date</label>
                  <input type="date" id="arrDate" formControlName="arrDate" class="form-control">
                </div>

                <div class="form-group">
                  <label for="arrTime">Arrival time</label>
                  <input type="time" id="arrTime" formControlName="arrTime" class="form-control">
                </div>

              </div><!-- end of arrival details -->
            </div><!-- end of arrival -->

            <!-- template for vehicle rental -->
            <div *ngIf="transportOption[i] === 'vehicle rental'">

              <div class="form-group">
                <label for="rentalCompany">Rental company</label>
                <input type="text" id="rentalCompany" formControlName="rentalCompany" class="form-control">
              </div>

              <div class="form-group">
                <label for="contactNumber">Contact number</label>
                <input type="text" id="contactNumber" formControlName="contactNumber" class="form-control">
              </div>

            </div>

            <!-- template for others -->
            <div *ngIf="transportOption[i] === 'others'">

            </div>

            <div class="form-group">
              <label for="note">Note</label>
              <textarea name="name" rows="3" cols="80" formControlName="note" class="form-control"></textarea>
            </div>

          </div><!-- end of formCard -->
        </div><!-- end of for loop -->

        <button type="button" class="addOption" (click)="addTransportControl()">Add another transport</button>

      </div><!-- end of for array -->

      <button type="submit" class="primaryButton" [disabled]="!addTransportForm.valid">Save New Transports</button>

      <div style="clear: both;"></div>

    </form>
  </div><!-- end of add new transport -->

  <!-- iterate through existing list of transports -->
  <div *ngFor="let transport of itinerary?.transports; let i = index" class="detailsCard">

    <div [class.editing]="transport.editing">

      <!-- transport details view -->
      <div class="view">

        <div class="inline-block update">
          <a (click)="editTransport(transport)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a (click)="deleteTransport(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </div>

        <div *ngIf="transport.transportType === 'flight'">

          <div class="block">
            <i class="fa fa-plane inline-block" aria-hidden="true"></i>
            <h4 class="inline-block">Flight from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div class="transportDetails">

            <div>
              <h6>Flight number:</h6>
              <h3 class="transportEmphasis">{{ transport.referenceNumber | uppercase }}</h3>
              <br>
            </div>

            <div class="inline-block space">
              <h6 class="departureDetails">Departs <span>{{ transport.cityFrom | uppercase }}</span>:</h6>
              <h6>{{ transport.stationFrom | uppercase }} / terminal {{ transport.depTerminal | uppercase }}</h6>
              <h5>{{ transport.depDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.depTime }} Local Time</h5>
            </div>

            <div class="inline-block space">
              <h6 class="arrivalDetails">Arrives <span>{{ transport.cityTo | uppercase }}</span>:</h6>
              <h6>{{ transport.stationTo | uppercase }} / terminal {{ transport.arrTerminal | uppercase }}</h6>
              <h5>{{ transport.arrDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.arrTime }} Local Time</h5>
            </div>

          </div>

        </div><!-- end of flight -->

        <div *ngIf="transport.transportType === 'train'">

          <div class="block">
            <i class="fa fa-train" aria-hidden="true"></i>
            <h4 class="inline-block">Train from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div class="transportDetails">

            <div class="inline-block space">
              <h6 class="departureDetails">Departs <span>{{ transport.cityFrom | uppercase }}</span>:</h6>
              <h6>{{ transport.stationFrom | uppercase }}</h6>
              <h5>{{ transport.depDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.depTime }} Local Time</h5>
            </div>

            <div class="inline-block space">
              <h6 class="arrivalDetails">Arrives <span>{{ transport.cityTo | uppercase }}</span>:</h6>
              <h6>{{ transport.stationTo | uppercase }}</h6>
              <h5>{{ transport.arrDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.arrTime }} Local Time</h5>
            </div>

          </div>

        </div><!-- end of train -->

        <div *ngIf="transport.transportType === 'bus'">

          <div>
            <i class="fa fa-bus" aria-hidden="true"></i>
            <h4 class="inline-block">Bus from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div class="transportDetails">

            <div>
              <h6>Bus number:</h6>
              <h3 class="transportEmphasis">{{ transport.referenceNumber | uppercase }}</h3>
              <br>
            </div>

            <div class="inline-block space">
              <h6 class="departureDetails">Departs <span>{{ transport.cityFrom | uppercase }}</span>:</h6>
              <h6>{{ transport.stationFrom | uppercase }}</h6>
              <h5>{{ transport.depDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.depTime }} Local Time</h5>
            </div>

            <div class="inline-block space">
              <h6 class="arrivalDetails">Arrives <span>{{ transport.cityTo | uppercase }}</span>:</h6>
              <h6>{{ transport.stationTo | uppercase }}</h6>
              <h5>{{ transport.arrDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.arrTime }} Local Time</h5>
            </div>

          </div>

        </div><!-- end of bus -->

        <div *ngIf="transport.transportType === 'cruise'">

          <div class="block">
            <i class="fa fa-ship" aria-hidden="true"></i>
            <h4 class="inline-block">Cruise from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div class="transportDetails">

            <div class="inline-block space">
              <h6 class="departureDetails">Departs <span>{{ transport.cityFrom | uppercase }}</span>:</h6>
              <h6>{{ transport.stationFrom | uppercase }}</h6>
              <h5>{{ transport.depDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.depTime }} Local Time</h5>
            </div>

            <div class="inline-block space">
              <h6 class="arrivalDetails">Arrives <span>{{ transport.cityTo | uppercase }}</span>:</h6>
              <h6>{{ transport.stationTo | uppercase }}</h6>
              <h5>{{ transport.arrDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.arrTime }} Local Time</h5>
            </div>

          </div>


        </div><!-- end of cruise -->

        <div *ngIf="transport.transportType === 'vehicle rental'">

          <div class="block">
            <i class="fa fa-car" aria-hidden="true"></i>
            <h4 class="inline-block">Vehicle rental from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div class="transportDetails">

            <div class="inline-block space">
              <h6>Rental company:</h6>
              <h4 class="transportEmphasis">{{ transport.rentalCompany }}</h4>
              <br>
              <h6 class="departureDetails">Departs <span>{{ transport.cityFrom | uppercase }}</span>:</h6>
              <h5>{{ transport.depDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.depTime }} Local Time</h5>
            </div>

            <div class="inline-block space">
              <h6>Contact number:</h6>
              <h4 class="transportEmphasis">{{ transport.contactNumber }}</h4>
              <br>
              <h6 class="arrivalDetails">Arrives <span>{{ transport.cityTo | uppercase }}</span>:</h6>
              <h5>{{ transport.arrDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.arrTime }} Local Time</h5>
            </div>

          </div>

        </div><!-- end of vehicle rental -->

        <div *ngIf="transport.transportType === 'others'">

          <div class="block">
            <i class="fa fa-rocket" aria-hidden="true"></i>
            <h4 class="inline-block">Transport from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div class="transportDetails">

            <div class="inline-block space">
              <h6 class="departureDetails">Departs <span>{{ transport.cityFrom | uppercase }}</span>:</h6>
              <h5>{{ transport.depDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.depTime }} Local Time</h5>
            </div>

            <div class="inline-block space">
              <h6 class="arrivalDetails">Arrives <span>{{ transport.cityTo | uppercase }}</span>:</h6>
              <h5>{{ transport.arrDate | date:'dd MMM yy' }}</h5>
              <h5>{{ transport.arrTime }} Local Time</h5>
            </div>

          </div>
        </div><!-- end of others -->

        <div class="block note">
          <h6>Note:</h6>
          <h6>{{ transport.note }}</h6>
        </div>


      </div><!-- end of transport details view -->

      <!-- transport editing view -->
      <form *ngIf="transport.editing" [formGroup]="editTransportForm" (ngSubmit)="onEditTransport(i)">

        <div [ngSwitch]="transport.transportType">

          <div *ngSwitchCase="'flight'">
            <i class="fa fa-plane inline-block" aria-hidden="true"></i>
            <h4 class="inline-block">Flight from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div *ngSwitchCase="'train'">
            <i class="fa fa-train inline-block" aria-hidden="true"></i>
            <h4 class="inline-block">Train from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div *ngSwitchCase="'bus'">
            <i class="fa fa-bus inline-block" aria-hidden="true"></i>
            <h4 class="inline-block">Bus from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div *ngSwitchCase="'cruise'">
            <i class="fa fa-ship inline-block" aria-hidden="true"></i>
            <h4 class="inline-block">Cruise from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div *ngSwitchCase="'vehicle rental'">
            <i class="fa fa-car inline-block" aria-hidden="true"></i>
            <h4 class="inline-block">Vehicle rental from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

          <div *ngSwitchCase="'others'">
            <i class="fa fa-rocket inline-block" aria-hidden="true"></i>
            <h4 class="inline-block">Other transport from {{ transport.cityFrom | uppercase }} to {{ transport.cityTo | uppercase }} ( {{ transport.depDate | date: 'dd MMM yy' }} )</h4>
          </div>

        </div>


        <div class="departure">
          <h5>Departure details</h5>

          <div class="transportDetails">

            <div class="form-group">
              <label for="cityFrom">Depart from (city)</label>
              <input type="text" id="cityFrom" formControlName="cityFrom" class="form-control" [value]="transport.cityFrom">
            </div>

            <!-- departure template for flight -->
            <div *ngIf="transport.transportType === 'flight'">

              <div class="form-group">
                <label for="stationFrom">Departure airport</label>
                <input type="text" id="stationFrom" formControlName="stationFrom" class="form-control" [value]="transport.stationFrom">
              </div>

              <div class="form-group">
                <label for="referenceNumber">Flight number</label>
                <input type="text" id="referenceNumber" formControlName="referenceNumber" class="form-control" [value]="transport.referenceNumber">
              </div>

              <div class="form-group">
                <label for="depTerminal">Terminal</label>
                <input type="text" id="depTerminal" formControlName="depTerminal" class="form-control" [value]="transport.depTerminal">
              </div>

            </div>

            <!-- departure template for train -->
            <div *ngIf="transport.transportType === 'train'">

              <div class="form-group">
                <label for="stationFrom">Departure station</label>
                <input type="text" id="stationFrom" formControlName="stationFrom" class="form-control" [value]="transport.stationFrom">
              </div>

              <div class="form-group">
                <label for="depTerminal">Train platform</label>
                <input type="text" id="depTerminal" formControlName="depTerminal" class="form-control" [value]="transport.depTerminal">
              </div>

            </div>

            <!-- departure template for bus -->
            <div *ngIf="transport.transportType === 'bus'">

              <div class="form-group">
                <label for="stationFrom">Departure station</label>
                <input type="text" id="stationFrom" formControlName="stationFrom" class="form-control" [value]="transport.stationFrom">
              </div>

              <div class="form-group">
                <label for="referenceNumber">Bus Number</label>
                <input type="text" id="referenceNumber" formControlName="referenceNumber" class="form-control" [value]="transport.referenceNumber">
              </div>

            </div>

            <!-- departure template for cruise -->
            <div *ngIf="transport.transportType === 'cruise'">

              <div class="form-group">
                <label for="stationFrom">Departure terminal</label>
                <input type="text" id="stationFrom" formControlName="stationFrom" class="form-control" [value]="transport.stationFrom">
              </div>

            </div>

            <!-- departure date & time for all transport type -->
            <div class="form-group">
              <label for="depDate">Departure date</label>
              <input type="date" id="depDate" formControlName="depDate" class="form-control" [value]="transport.depDate">
            </div>

            <div class="form-group">
              <label for="depTime">Departure time</label>
              <input type="time" id="depTime" formControlName="depTime" class="form-control" [value]="transport.depTime">
            </div>

          </div><!-- end of departure details -->
        </div><!-- end of departure -->

        <div class="arrival">
          <h5>Arrival details</h5>

          <div class="transportDetails">

            <div class="form-group">
              <label for="cityTo">Going to (city)</label>
              <input type="text" id="cityTo" formControlName="cityTo" class="form-control" [value]="transport.cityTo">
            </div>

            <!-- arrival template for flight -->
            <div *ngIf="transport.transportType === 'flight'">

              <div class="form-group">
                <label for="stationTo">Arrival airport</label>
                <input type="text" id="stationTo" formControlName="stationTo" class="form-control" [value]="transport.stationTo">
              </div>

              <div class="form-group">
                <label for="arrTerminal">Terminal</label>
                <input type="text" id="arrTerminal" formControlName="arrTerminal" class="form-control" [value]="transport.arrTerminal">
              </div>

            </div>

            <!-- arrival template for train -->
            <div *ngIf="transport.transportType === 'train'">

              <div class="form-group">
                <label for="stationTo">Arrival station</label>
                <input type="text" id="stationTo" formControlName="stationTo" class="form-control" [value]="transport.stationTo">
              </div>

            </div>

            <!-- arrival template for bus -->
            <div *ngIf="transport.transportType === 'bus'">

              <div class="form-group">
                <label for="stationTo">Arrival station</label>
                <input type="text" id="stationTo" formControlName="stationTo" class="form-control" [value]="transport.stationTo">
              </div>

            </div>

            <!-- arrival template for cruise -->
            <div *ngIf="transport.transportType === 'cruise'">

              <div class="form-group">
                <label for="stationTo">Arrival terminal</label>
                <input type="text" id="stationTo" formControlName="stationTo" class="form-control" [value]="transport.stationTo">
              </div>

            </div>

            <!-- arrival date & time for all transport type -->
            <div class="form-group">
              <label for="arrDate">Arrival date</label>
              <input type="date" id="arrDate" formControlName="arrDate" class="form-control" [value]="transport.arrDate">
            </div>

            <div class="form-group">
              <label for="arrTime">Arrival time</label>
              <input type="time" id="arrTime" formControlName="arrTime" class="form-control" [value]="transport.arrTime">
            </div>

          </div><!-- end of arrival details-->
        </div><!-- end of arrival -->

        <!-- template for vehicle rental -->
        <div *ngIf="transport.transportType === 'vehicle rental'">

          <div class="form-group">
            <label for="rentalCompany">Rental company</label>
            <input type="text" id="rentalCompany" formControlName="rentalCompany" class="form-control" [value]="transport.rentalCompany">
          </div>

          <div class="form-group">
            <label for="contactNumber">Contact number</label>
            <input type="text" id="contactNumber" formControlName="contactNumber" class="form-control" [value]="transport.contactNumber">
          </div>

        </div>

        <!-- template for others -->
        <div *ngIf="transport.transportType === 'others'">

        </div>

        <div class="form-group">
          <label for="note">Note</label>
          <textarea name="name" rows="3" cols="80" formControlName="note" class="form-control" [value]="transport.note"></textarea>
        </div>

        <button type="submit" class="primaryButton" [disabled]="!editTransportForm.valid">Save Transport</button>

        <div style="clear: both;"></div>

      </form><!-- transport editing view -->
    </div><!-- end of each accommodation -->
  </div><!-- end of transport loop -->
</div><!-- end of transport section -->
