<div class="activityCard" *ngIf="activity?.type === 'activity'">

  <div [class.editing]="editing">
    <div class="view">

      <div *ngIf="activity?.photo">
        <img src="{{activity?.photo}}" alt="picture of {{ activity?.name}}">
      </div>

      <div *ngIf="!activity?.photo">
        <div class="img">
          <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
          <h5>add a photo</h5>
        </div>
      </div>

      <div class="dateTime" *ngIf="activity?.date === 'any day'">{{ activity?.date }} - {{ activity?.time }}</div>
      <div class="dateTime" *ngIf="activity?.date !== 'any day'">{{ activity?.date | date: 'EEE, dd MMM yyyy' }} - {{ activity?.time }}</div>

      <!-- <div class="checkin-status inline-block" [class.green]="activity?.locationCheckedIn[1]" (click)="checkIn()">Check In</div> -->

      <div class="activityDetails">

        <h4 class="activityTitle inline-block">{{ activity?.name }}</h4>

        <div class="update">
          <a (click)="onEdit()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a (click)="confirmDelete()"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </div>

        <!-- <div class="checkIn">
          <i class="fa fa-check-circle-o inline-block" aria-hidden="true"></i>
          <div *ngFor="let checkIn of activity?.locationCheckedIn" class="inline-block">
            <p>{{ checkIn }}</p>
          </div>
        </div> -->

        <h5 class="activityDescription">{{ activity?.description }}</h5>
        <h6 class="activitySmall activitySubDescription">{{ activity?.subDescription }}</h6>
        <h6 class="activitySmall"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ activity?.opening_hours }}</h6>
        <h6 class="activitySmall"><i class="fa fa-money" aria-hidden="true"></i> {{ activity?.entryFee }}</h6>
        <h6 class="activitySmall"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ activity?.formatted_address }}</h6>
        <h6 class="activitySmall"><i class="fa fa-phone" aria-hidden="true"></i> {{ activity?.international_phone_number }}</h6>

        <div class="block note">
          <h6 class="activitySmall">{{ activity?.note }}</h6>
        </div>

        <a href="{{activity?.website}}" target="_blank"><h5 class="truncate link">{{ activity?.website }}</h5></a>

        <div class="inline-block">
          <h6 class="inline-block"><i class="fa fa-tags" aria-hidden="true"></i></h6>
          <div *ngFor="let category of activity.categories" class="inline-block">
            <h6 *ngIf="category.checked">|  {{ category.value }}  |</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="editing">

    <div class="activityDetails">

      <form [formGroup]="editCustomActivityForm" (ngSubmit)="onUpdateActivity()">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" class="form-control" [value]="activity.name">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea rows="3" cols="80" formControlName="description" class="form-control" [value]="activity.description"></textarea>
        </div>

        <div class="form-group">
          <label for="opening_hours">Opening hours</label>
          <input type="text" id="opening_hours" formControlName="opening_hours" class="form-control" [value]="activity.opening_hours">
        </div>

        <div class="form-group">
          <label for="entryFee">Cost / Entry fee</label>
          <input type="text" id="entryFee" formControlName="entryFee" class="form-control" [value]="activity.entryFee">
        </div>

        <div class="form-group">
          <label for="formatted_address">Address</label>
          <input type="text" id="formatted_address" formControlName="formatted_address" class="form-control" [value]="activity.formatted_address">
        </div>

        <div class="form-group">
          <label for="international_phone_number">Contact Number</label>
          <input type="text" id="international_phone_number" formControlName="international_phone_number" class="form-control" [value]="activity.international_phone_number">
        </div>

        <div class="form-group">
          <label for="website">Website</label>
          <input type="text" id="website" formControlName="website" class="form-control" [value]="activity.website">
        </div>

        <div class="form-group inline-block">
          <label for="date">Date to visit</label>
          <select name="date" class="form-control" formControlName="date" [value]="activity.date">
            <option *ngFor="let itinDate of itinDateRange; let i = index" [value]="itinDate">
              <div *ngIf="itinDate === 'any day'">
                <h5>{{ itinDate }}</h5>
              </div>
              <div *ngIf="itinDate !== 'any day'">
                <h5>Day {{ i + 1 }}, {{ itinDate | date: "dd MMM yyyy (EEEE)"}}</h5>
              </div>
            </option>
          </select>
        </div>

        <div class="time">
          <div class="form-group">
            <label for="time">Time to visit</label>
            <input type="time" id="time" formControlName="time" class="form-control" [value]="activity.time" *ngIf="!anytime">
          </div>

          <div class="form-group inline-block">
            <label>
              <input type="checkbox" (click)="toggleAnytime()" formControlName="time" [ngModel]="activity.time === 'anytime'">
              Any time
            </label>
          </div>
        </div>


        <div class="form-group">
          <label for="note">Note</label>
          <textarea name="name" rows="3" cols="80" formControlName="note" class="form-control" [value]="activity.note"></textarea>
        </div>

        <div formArrayName="categories">
          <label class="block">Category</label>

          <div *ngFor="let category of categories.controls; let j = index" [formGroupName]="j">

              <div class="form-group category">
                <label>
                  <i class="fa fa-{{ category?.value.icon }}" aria-hidden="true"></i>
                  {{ category?.value.value }}
                  <input type="checkbox" formControlName="checked" [ngModel]="activity.categories[j].checked">
                </label>
              </div>

          </div>
        </div>
        <button type="button" class="deleteButton" (click)="cancelEditActivity()">Cancel edit</button>
        <button type="submit" class="primaryButton"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</button>
      </form>

    </div>

  </div>

  <div class="activityDetails">
    <div class="postby">
      <h6>added by <a routerLink="/users/{{activity.user['_Id']}}">{{ activity?.user.username }}</a></h6>
      <p>{{ activity?.created_at | date: 'medium' }}</p>
    </div>
  </div>

</div>

<div class="delete-modal" *ngIf="deleteActivity">
  <div class="confirm-delete">
    <div class="confirm-delete-header">
      <h4>Delete activity {{ activity?.name }}</h4>
      <span class="x-close" (click)="cancelDelete()">&times;</span>
    </div>
    <h4 class="confirm-delete-content">Deleting activity <span class="confirm-delete-name">{{ activity?.name }}</span> will permanently remove it from your itinerary.</h4>
    <div class="confirm-delete-footer">
      <button type="button" (click)="cancelDelete()">Cancel delete</button>
      <button type="button" class="deleteButton" (click)="onDeleteActivity()">Yes, delete {{ activity?.name }}</button>
    </div>
  </div>
</div>
