<div class="col-md-2">

  <div class="friends category">
    <div class="heading">
      <h4>My friends</h4>
      <a (click)="getUsers()">find</a>
    </div>
    <h5>followers ({{ follower.length }})</h5>
    <h5>followings ({{ following.length }})</h5>
  </div>

  <div class="itinerary category">
    <div class="heading">
      <h4>My itineraries</h4>
      <a data-toggle="modal" data-target="#new-itin-form">new</a>

    </div>
    <div>
      <div *ngFor="let itinerary of currentUser?.itineraries">
        <div class="itineraryList">
          <a [routerLink]="['itinerary/', itinerary._id]" routerLinkActive="active" (click)="changeItin(itinerary._id)">
            <h5>{{ itinerary.name }}</h5>
            <h6>( {{ itinerary.dateFrom | date:'dd MMM yy' }} to {{ itinerary.dateTo | date:'dd MMM yy' }} )</h6>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- new itin form -->
<div class="modal fade" id="new-itin-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <!-- <span class="sr-only">Close</span> -->
          </button>

          <h3 class="modal-title" id="myModalLabel">3 details to get you started</h3>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="itineraryForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Itinerary name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>

          <div class="form-group">
            <label for="dateFrom">Travel date from (dd/mm/yyyy)</label>
            <input type="date" id="dateFrom" formControlName="dateFrom" class="form-control" max="9999-12-31">
          </div>

          <div class="form-group">
            <label for="dateTo">Travel date to (dd/mm/yyyy)</label>
            <input type="date" id="dateTo" formControlName="dateTo" class="form-control" max="9999-12-31">
          </div>

          <div class="modal-footer">
              <button type="submit" (click)="onSubmit()" data-dismiss="modal" [disabled]="!itineraryForm.valid">Create itinerary</button>
          </div>
        </form>

      </div>

    </div><!-- end of modal content -->
  </div><!-- end of modal dialog -->
</div>


<div class="custom-modal" *ngIf="showUsers">
  <div class="show-users">

    <div class="show-users-header">
      <h4>Find a friend</h4>
      <span class="x-close" (click)="cancelShowUsers()">&times;</span>
    </div>

    <!-- <form [formGroup]="addUsersForm" (ngSubmit)="addMembers()"> -->
      <div *ngFor="let user of users" class="user-card">
        <img src="{{ user.displayPic }}" alt="" class="user-profile-thumbnail">
        <h5 class="inline-block">{{ user.username }}</h5>

        <div class="inline-block follow-button">
          <div *ngIf="user.status === 'requested'">
            <button type="button" class="follow" (click)="cancelRequest(user)">Requested</button>
          </div>
          <div *ngIf="user.status === ''">
            <button type="button" class="follow" (click)="follow(user)">Follow</button>
          </div>
        </div>

      </div>
    <!-- </form> -->


    <div class="show-users-footer">
      <button type="button" class="primaryButton"(click)="cancelShowUsers()">Done</button>
    </div>
  </div>
</div>
