.category {
  margin-bottom: 10px;
}

.heading  {
  border-bottom: 1px solid grey;
}

.heading > h4,
.heading > a  {
  display: inline-block;
}

a{
  font-size: 1.1rem;
}

h4  {
  font-size: 1.3rem;
}

h5  {
  font-size: 1rem;
}

h6  {
  font-size: 1rem;
  color: grey;
}

.itineraryList  {
  padding-left: 5px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.itineraryList > a  {
  color: black;
  &:hover {
    color: darkblue;
    text-decoration: none;
  }
}

.active {
  font-weight: bolder;
}
