.itin-date  {
  padding-bottom: 10px;
  width: 303px;
  border: 2px solid #fae6e6;
}

h5 {
  padding: 5px 10px;
  background-color: #fae6f0;
  cursor: pointer;
}

.activity-collapse  {
  // height: 85vh;
  // overflow-y: scroll;
}

.fa {
  float: right;
}

.toggle-select  {
  padding-left: 75px;
}
