<div class="col-md-7">

  <div [class.editing]="editing">
    <div class="view">
      <div class="heading">

        <h3 class="itin-name inline-block">{{ itinerary?.name }}   |   </h3>

        <div class="inline-block">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>

        <div class="inline-block">
          <h5>{{ itinerary?.dateFrom | date:'dd MMM yyyy' }} to {{ itinerary?.dateTo | date:'dd MMM yyyy' }}</h5>
        </div>

        <div class="inline-block">
          <a (click)="editDetails()"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="editing" class="edit-form">

    <form [formGroup]="basicDetailsForm" (ngSubmit)="saveDetails()">
      <div class="form-group">
        <label for="name">Itinerary Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" [value]="itinerary.name">
      </div>

      <div class="form-group inline-block">
        <label for="dateFrom">Travel Date From</label>
        <input type="date" id="dateFrom" formControlName="dateFrom" class="form-control" [value]="itinerary?.dateFrom | date: 'yyyy-MM-dd'">
      </div>

      <div class="form-group inline-block">
        <label for="dateTo">Travel Date To</label>
        <input type="date" id="dateTo" formControlName="dateTo" class="form-control" [value]="itinerary?.dateTo | date: 'yyyy-MM-dd'">
      </div>

      <div class="buttons">
        <button type="button" class="deleteButton" (click)="cancelEdit()">Cancel edit</button>
        <button type="submit" class="primaryButton" [disabled]="!basicDetailsForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</button>
      </div>
    </form>

    <div class="delete-itin-button">
      <button type="button" class="deleteButton" (click)="confirmDelete()">Delete this itinerary</button>
    </div>

  </div>

  <div class="members">
    <div class="members-count inline-block">
      <h4><i class="fa fa-user-plus" aria-hidden="true" (click)="getUsers()"></i> {{ itinerary?.members.length }}</h4>
    </div>
    <div *ngFor="let member of itinerary?.members" class="inline-block">
      <div class="tool-tip">
        <img src="{{ member.displayPic }}" alt="display picture for {{ member.username }}" class="user-profile-thumbnail">
        <span class="tool-tiptext">{{ member.username }}</span>
      </div>
    </div>
  </div>

  <ww-itinerary-details></ww-itinerary-details>

</div>

<div class="col-md-3">
  <ww-activity-collapse-list></ww-activity-collapse-list>
</div>

<div class="custom-modal" *ngIf="deleteItinerary">
  <div class="confirm-delete">

    <div class="confirm-delete-header">
      <h4>Delete itinerary {{ itinerary?.name }}</h4>
      <span class="x-close" (click)="cancelDelete()">&times;</span>
    </div>

    <h4 class="confirm-delete-content">Deleting itinerary <span class="confirm-delete-name">{{ itinerary?.name }}</span> will permanently remove it from your list of itineraries.</h4>

    <div class="confirm-delete-footer">
      <button type="button" (click)="cancelDelete()">Cancel delete</button>
      <button type="button" class="deleteButton" (click)="onDeleteItinerary()">Yes, delete {{ itinerary?.name }}</button>
    </div>

  </div>
</div>

<div class="custom-modal" *ngIf="showUsers">
  <div class="show-users">

    <div class="show-users-header">
      <h4>Add members to the itinerary</h4>
      <span class="x-close" (click)="cancelShowUsers()">&times;</span>
    </div>

    <!-- <form [formGroup]="addUsersForm" (ngSubmit)="addMembers()"> -->
      <div *ngFor="let user of users" class="user-card">
        <img src="{{ user.displayPic }}" alt="" class="user-profile-thumbnail">
        <h5 class="inline-block">{{ user.username }}</h5>
        <input type="checkbox" (click)="toggleAdd(user)">
      </div>
    <!-- </form> -->


    <div class="show-users-footer">
      <button type="button" (click)="cancelShowUsers()">Cancel add member</button>
      <button type="button" class="primaryButton" (click)="addMembers()" [disabled]="!validAddUser">Add members</button>
    </div>
  </div>
</div>
