.heading  {
  padding: 10px;
}

.itin-name {
  margin-bottom: 5px;
}

a {
  margin-left: 10px;
}

.buttons  {
  margin: 10px 0;
  padding-top: 10px;
}

.edit-form  {
  margin-bottom: 20px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.2);
}

.delete-itin-button  {
  text-align: center;
  margin-top: 40px;
  padding: 10px 0;
  background-color: #ffefef;
}

img.user-profile-thumbnail  {
  margin-right: 5px;
}

.members  {
  padding-bottom: 10px;
}

.members-count  {
  padding: 5px 5px 9px 5px;
  border-right: 1px solid #C0C0C0;
}

.fa-user-plus {
  cursor: pointer;
  &:hover {
    color: #FF8A5C;
  }
}

.tool-tip {
    position: relative;
}

.tool-tip .tool-tiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    font-size: 0.9em;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.tool-tip .tool-tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tool-tip:hover .tool-tiptext {
    visibility: visible;
}
/*************************
 add members modal-footer
 *************************/
.x-close  {
  top: 5%;
}
