.navbar-default {
  background-color: #6495ED;
  border-color: #6495ED;
  border-radius: 0;
}

a.navbar-brand,
.navbar-nav > li > a {
  color: white;
}

.user-profile-thumbnail {
  margin-right: 5px;
}
